@import url('https://fonts.googleapis.com/css2? family= Roboto+Condensed:wght@300;400;700 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
html{
    scroll-behavior: smooth;
}
img {
    max-width: 1349px;
    max-height: 1000px;
    
}      
.imagen{
    
    background-size: cover;
    background-position:center center;
    height: 200px;
}       
#inicio .contenido header{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
#inicio .contenido header .contenido-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
#inicio .contenido header .contenido-header h1{
    text-align: center;
    color: rgb(237, 17, 17)
}
#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#inicio .contenido header .contenido-header nav ul li a{
    text-decoration:none;
    color: #fff;
    margin: 0 19px;
    font-weight: 400;
    transition: .5s;
    letter-spacing: 2px;
}
#inicio .contenido header .contenido-header nav ul a:hover{
     color:rgb(237, 17, 17) ;
}
#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color:#fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}
#inicio .contenido header .contenido-header .redes a:hover{
    color:rgb(237, 17, 17) ;
}
#inicio .contenido .presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#inicio .contenido .presentacion .bienvenida{
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
#icono-nav{
    color: #fff;
    display: none;
}   
/*Objetivo*/
#objetivo{
    max-width: 1100px;
    margin: 0;
    padding: 80px 100px;
    color: #111135;
    display: flex;
}   
#objetivo .contenedor-foto{
    max-width: 450px;
    margin-right: 70px;
    margin-left: -70px;
}
#objetivo .contenedor-foto img{
  
    width: 100%;
    background-color: white;
    margin-top: 50px;
}
#objetivo .objetivo{
    margin: 0 40px;
}
#objetivo .objetivo .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
}
#objetivo .objetivo h2{
    font-size: 34px;
}

#descripcion{
    max-width: 1100px;
    margin: auto;
    padding: 80px 100px;
    color: #111135;
    display: flex;
}   
#descripcion .contenedor-descripcion{
    max-width: 450px;
    margin-right: 70px;
    margin-left: -70px;
}
#descripcion .contenedor-descripcion img{
  
    width: 100%;
    background-color: white;
    margin-top: 50px;
}
#descripcion .descripcion{
    margin: 0 40px;
}
#descripcion .descripcion .titulo-descripcion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
}
#descripcion .titulo-descripcion h2{
    font-size: 34px;
    margin: 20px 0;
}
#descripcion .descripcion p{
    font-weight: 500;
    margin-top: 100px;
    letter-spacing: 2px;
    line-height: 25px;
}

